/* Главная */
.main {
    padding: 20px;
    background: #0b0f18;
}

/* Категории */
.categories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.category-card {
    background: #151d2e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    cursor: pointer;
    transition: transform 0.2s;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-card img {
    width: 50px;
    height: 50px;
}

.category-card p {
    color: #fff;
    margin-top: 10px;
}

/* Карточки товаров */
.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-card {
    background: #151d2e;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #24304a;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-details {
    color: #fff;
    margin-top: 10px;
}

.product-btns {
    margin-top: auto;
}

.add-to-cart {
    background: #38bdf8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.add-to-cart:hover {
    background: #22c55e;
}

/* Корзина */
#cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #151d2e;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: none;
}

#cart h3 {
    margin: 0;
    color: #fff;
    font-size: 16px;
}

#cart-items {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    color: #fff;
}

#checkout-btn {
    background: #38bdf8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

#checkout-btn:hover {
    background: #22c55e;
}
